@page "/"
@using MatBlazor

<div class="content px-4 pages-bg center-items my-fluid">
    <MatH1 Class="text-white display-block">Welcome</MatH1>
    <MatH1 Class="text-white display-block">To</MatH1>
    <MatH1 Class="text-white display-block">Our Gifts system</MatH1>
</div>